import /microtrust.rc

on init
    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    mkdir /mnt/vendor/persist 0700 root root
    mount ext4 /dev/block/platform/bootdevice/by-name/persist /mnt/vendor/persist

on boot
    start health-hal-2-0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service.beanpod
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

on property:hwservicemanager.ready=true
    start keymaster-4-0
    start gatekeeper-1-0

on property:twrp.decrypt.done=true && property:twrp.all.users.decrypted=true
    stop teei_daemon
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager
